{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCES Supply Inventory</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .bg-image {
            background-image: url('{% static "images/bg.png" %}');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    </style>
</head>

<body class="bg-fixed bg-cover bg-center bg-image">
    <div class="relative h-auto">
        <!-- Navbar -->
        <div class="w-full bg-gradient-to-t from-indigo-900 to-blue-700 text-white py-4">
            <div class="w-9/12 mx-auto flex justify-between items-center uppercase">
                <div class="text-2xl font-black ">Admin</div>
                <div class="flex space-x-6">
                    <a href="{% url 'home-page' %}" class="px-4 hover:text-blue-300">Dashboard</a>
                    <a href="{% url 'tracking-page' %}" class="px-4 hover:text-blue-300">Item Tracking</a>
                    <a href="{% url 'logbook-page' %}" class="px-4 hover:text-blue-300">Log Book</a>
                    <a href="{% url 'analytics-page' %}" class="px-4 text-blue-300">Analytics</a>
                    <a href="{% url 'account-page' %}" class="px-4 hover:text-blue-300">User Management</a>
                    <a href="#logout" class="px-4 hover:text-blue-300">Logout</a>
                </div>
            </div>
        </div>
        
        <div class="w-11/12 mx-auto">
            <h1 class="text-7xl font-black text-indigo-900 text-right mt-16 mb-0 stroke-white">ANALYTICS</h1>
            <div class="flex flex-column mt-2">
                <div class="p-0 flex w-full h-5/6">
                    <div class="w-1/4 m-0">
                        <div class="shadow-2xl bg-blue-100 p-5 rounded-lg">
                            <a href="{% url 'tracking-page' %}">
                                <div class="w-full mx-auto bg-sky-900 hover:bg-blue-900 p-1 rounded-lg my-3">
                                    <button
                                        class="w-full bg-sky-900 hover:bg-blue-900 text-white border-4 border-opacity-0 rounded-lg py-3 text-2xl relative">
                                        <div class="flex justify-between items-center">
                                            <div class="w-full z-20">ITEM TRACKING</div>
                                            <div class="z-10 mr-2 font-black">&gt;</div>
                                        </div>
                                    </button>
                                </div>
                            </a>
                            <a href="{% url 'logbook-page' %}">
                                <div class="w-full mx-auto bg-sky-900 hover:bg-blue-900 p-1 rounded-lg my-3">
                                    <button
                                        class="w-full bg-sky-900 hover:bg-blue-900 text-white border-4 border-opacity-0 rounded-lg py-3 text-2xl relative">
                                        <div class="flex justify-between items-center">
                                            <div class="w-full z-20">LOG BOOK</div>
                                            <div class="z-10 mr-2 font-black">&gt;</div>
                                        </div>
                                    </button>
                                </div>
                            </a>
                            <a href="{% url 'analytics-page' %}">
                                <div class="w-full mx-auto bg-blue-900 p-1 rounded-lg my-3">
                                    <button
                                        class="w-full bg-blue-900 text-white border-4 border-opacity-0 rounded-lg py-3 text-2xl relative">
                                        <div class="flex justify-between items-center">
                                            <div class="w-full z-20">ANALYTICS</div>
                                            <div class="z-10 mr-2 font-black">&gt;</div>
                                        </div>
                                    </button>
                                </div>
                            </a>
                            <a href="{% url 'account-page' %}">
                                <div class="w-full mx-auto bg-sky-900 hover:bg-blue-900 p-1 rounded-lg my-3">
                                    <button
                                        class="w-full bg-sky-900 hover:bg-blue-900 text-white border-4 border-opacity-0 rounded-lg py-3 text-2xl relative">
                                        <div class="flex justify-between items-center">
                                            <div class="w-full z-20">USER MANAGEMENT</div>
                                            <div class="z-10 mr-2 font-black">&gt;</div>
                                        </div>
                                    </button>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="w-11/12 pl-40 text-center h-full">
                        <div class="bg-blue-100 h-full">
                            .
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script>
            
        </script>
</body>

</html>