{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCES Supply Inventory</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .bg-image {
            background-image: url('{% static "images/bg.png" %}');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    </style>
</head>

<body class="bg-fixed bg-cover bg-center bg-image">
    <div class="relative h-auto">
        <h1 class="text-8xl font-black text-indigo-900 text-center mt-16 mb-0 stroke-white">Supply
            Inventory System</h1>
        <div class="flex flex-column items-center justify-center my-24">
            <div class="bg-blue-100 p-0 shadow-lg flex w-1/2">
                <div class="w-1/2 p-20" id="login-form">
                    <form  method="post" action="{% url 'login-api' %}">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="username" class="block text-gray-700 text-sm font-medium mb-2">Username</label>
                            <input type="text" id="username" name="username"
                                class="w-full border border-gray-300 py-2 px-5 rounded-full" required>
                        </div>
                        <div class="mb-4">
                            <label for="password" class="block text-gray-700 text-sm font-medium mb-2">Password</label>
                            <input type="password" id="password" name="password"
                                class="w-full border border-gray-300 py-2 px-5 rounded-full" required>
                        </div> 
                        <button type="submit" name="login"
                            class="bg-blue-900 text-white py-2 px-4 rounded-full hover:bg-blue-600 right-0">Login</button>
                    </form>
                    <p class="mt-4">Don’t have an account? <span id="register-link"
                            class="text-blue-600 cursor-pointer">Register</span></p>
                </div>
                <div class="w-1/2 p-20 hidden" id="register-form">
                    <form>
                        <div class=" mb-4">
                            <label for="first-name" class="block text-gray-700 text-sm font-medium mb-2">First
                                Name</label>
                            <input type="text" id="first-name" name="first-name"
                                class="w-full border border-gray-300 py-2 px-5 rounded-full" required>
                        </div>
                        <div class="mb-4">
                            <label for="last-name" class="block text-gray-700 text-sm font-medium mb-2">Last
                                Name</label>
                            <input type="text" id="last-name" name="last-name"
                                class="w-full border border-gray-300 py-2 px-5 rounded-full" required>
                        </div>
                        <div class="mb-4">
                            <label for="new-email" class="block text-gray-700 text-sm font-medium mb-2">Email</label>
                            <input type="email" id="new-email" name="new-email"
                                class="w-full border border-gray-300 py-2 px-5 rounded-full" required>
                        </div>
                        <div class="mb-4">
                            <label for="new-username"
                                class="block text-gray-700 text-sm font-medium mb-2">Username</label>
                            <input type="text" id="new-username" name="new-username"
                                class="w-full border border-gray-300 py-2 px-5 rounded-full" required>
                        </div>
                        <div class="mb-4">
                            <label for="new-password"
                                class="block text-gray-700 text-sm font-medium mb-2">Password</label>
                            <input type="password" id="new-password" name="new-password"
                                class="w-full border border-gray-300 py-2 px-5 rounded-full" required>
                        </div>
                        <div class="mb-4">
                            <label for="confirm-password" class="block text-gray-700 text-sm font-medium mb-2">Confirm
                                Password</label>
                            <input type="password" id="confirm-password" name="confirm-password"
                                class="w-full border border-gray-300 py-2 px-5 rounded-full" required>
                            <p id="password-match-msg" class="text-red-500 text-sm mt-2"></p>
                        </div>

                        <button type="submit" name="login" id="register-button"
                            class="bg-blue-900 text-white py-2 px-4 rounded-full hover:bg-blue-600 mr-0"
                            disabled>Register</button>
                    </form>
                    <p class="mt-4">Already have an account? <span id="login-link"
                            class="text-blue-600 cursor-pointer">Login</span></p>
                </div>
                <div class="w-1/2 m-0">
                    <img src="{% static 'images/image1.png' %}" alt="Image" class="w-auto h-full">
                </div>
            </div>
        </div>
    </div>

    <script>
        const loginForm = document.getElementById('login-form');
        const loginLink = document.getElementById('login-link');
        const registerForm = document.getElementById('register-form');
        const registerLink = document.getElementById('register-link');

        registerLink.addEventListener('click', () => {
            loginForm.classList.add('hidden');
            registerForm.classList.remove('hidden');
        });

        loginLink.addEventListener('click', () => {
            registerForm.classList.add('hidden');
            loginForm.classList.remove('hidden');
        });


        const newPasswordInput = document.getElementById('new-password');
        const confirmPasswordInput = document.getElementById('confirm-password');
        const passwordMatchMsg = document.getElementById('password-match-msg');
        const registerButton = document.getElementById('register-button');

        confirmPasswordInput.addEventListener('keyup', () => {
            checkPasswordMatch();
        });

        function checkPasswordMatch() {
            const newPassword = newPasswordInput.value;
            const confirmPassword = confirmPasswordInput.value;

            if (confirmPasswordInput.value === "") {
                passwordMatchMsg.textContent = '';
                registerButton.disabled = true;
                registerButton.classList.add('bg-gray-400');
                registerButton.classList.add('cursor-default');
                registerButton.classList.remove('bg-blue-900');
                registerButton.classList.remove('hover:bg-blue-600');
            } else if (newPassword === confirmPassword) {
                passwordMatchMsg.textContent = 'Passwords match';
                passwordMatchMsg.style.color = 'green';
                registerButton.disabled = false;
                registerButton.classList.remove('bg-gray-400');
                registerButton.classList.remove('cursor-default');
                registerButton.classList.add('bg-blue-900');
                registerButton.classList.add('hover:bg-blue-600');
            } else {
                passwordMatchMsg.textContent = 'Passwords do not match';
                passwordMatchMsg.style.color = 'red';
                registerButton.disabled = true;
                registerButton.classList.add('bg-gray-400');
                registerButton.classList.add('cursor-default');
                registerButton.classList.remove('bg-blue-900');
                registerButton.classList.remove('hover:bg-blue-600');
            }
        }


    </script>
</body>

</html>